@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  --primary-color: rgb(29, 92, 238);
  --white: #fff;
  --gray: #f0f0f5;
}

.back {
  width: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.back:hover {
  background: none;
}

.default-button {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  background: #007bff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.default-button:hover {
  background: #0056b3;
}

h1,
h2,
h3 {
  font-family: var(--primary-font);
}

body {
  font-family: var(--secondary-font);
}

a {
  text-decoration: none;
  font-family: var(--secondary-font);
}


header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 32px;
  width: 100%;
  border-bottom: 1px solid var(--gray);
}

nav ul {
  display: flex;
  gap: 10px;
}

nav ul li {
  list-style: none;

}

nav ul li a {
  color: #fff;
}

nav .cart-link {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--white);

  background-color: var(--primary-color);
  padding: 8px 15px;
  border-radius: 10px;
}

nav .cart-link:hover {
  opacity: 0.9;
}

footer {
  max-height: 300px;
  width: 100%;
  background-color: var(--white);
  text-align: center;
  padding: 16px 0;
  margin-top: 32px;
  font-size: 0.9rem;
  color: #666;

  border-top: 1px solid var(--gray);
}


footer img {
  width: 100px;
  vertical-align: middle;
  margin-left: 4px;
}