main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.categories {
  overflow-y: scroll;
  display: flex;
  margin: 10px 0;
  gap: 5px;
}

.categories>button {
  background-color: #f1f1f1;
  color: #121212;
  border: none;
  padding: 10px;
}

.categories>button:hover {
  background: none;
}

.categories>button.selected {
  color: #c1c1c1;
}

.products-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
  justify-content: center;

  margin: 32px 0;
}

.product-card {
  height: auto;
  padding: 1.2rem 5px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  margin: 0 auto;
}

.product-card .image-wrapper {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 14px;
}

.product-card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.product-card h3 {
  font-size: 1.08rem;
  font-weight: 600;
  color: #222;
  margin-bottom: 6px;
  text-align: center;
}

.product-card p {
  font-size: 13px;
  color: #4a4a4a;
  font-weight: 500;
  text-align: center;
  margin-bottom: 4px;
}

.product-card .info {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .products-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}